.formWrapper {
  max-width: 400px;
  width: 100%;
  background-color: #dacaef;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0;
}

.form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 15px;
}

.input {
  width: 96%;/*100% no funciona?*/
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button {
  width: 100%;
  padding: 10px;
  background-color: #0070f3;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submittedMessage {
  color: green;
  margin-top: 10px;
}

.signupLink {
  margin-top: 20px;
  text-align: center;
}

.link {
  color: #0070f3;
  text-decoration: none;
}

.errorMessage {
  color: rgb(219, 49, 49);
  margin-top: 10px;
}

.previewContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 15px;
}
  
.previewImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
