.createSongContainer {
    padding: 20px;
    background-color: #000;
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .createSongForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 400px;
    padding: 0 20px;
  }
  
  .createSongForm input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .fileLabel {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .fileInput {
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .previewImage {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .audioPlayer {
    margin-top: 10px;
    width: 100%;
  }
  
  .submitButton {
    background-color: #916bbf;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  